.auth {
    &-form {
        margin-bottom: 16rem;

        @media (max-width: 48em) {
            margin-bottom: 24rem;
        }
    }

    &-form-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: 48em) {
            flex-direction: column;
            align-items: flex-start;
            gap: 8rem;
        }
    }

    &-form-left {
        max-width: 54rem;
        width: 100%;

        @media (max-width: 48em) {
            max-width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.9rem;

            @media (max-width: 48em) {
                gap: 8rem;
            }
        }
    }

    &-form-title {
        display: block;
        color: #292d32;
        font-size: 4.4rem;
        font-weight: 500;
        line-height: 5rem;
        margin-bottom: 6.9rem;

        @media (max-width: 48em) {
            font-size: 6rem;
            font-weight: 500;
            line-height: 5.8rem;
            margin-bottom: 8rem;
        }
    }

    &-form-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 1.4rem;
        position: relative;

        @media (max-width: 48em) {
            gap: 2.8rem;
        }

        label {
            color: #292d32;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: normal;
            width: 100%;
            transition: 0.2s all ease-in-out;

            @media (max-width: 48em) {
                font-size: 3rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        input {
            color: #292d32;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 1.5rem;
            border: none;
            outline: navajowhite;
            border-bottom: 0.1rem solid #b9b9b9;
            width: 100%;

            @media (max-width: 48em) {
                padding-bottom: 2.8rem;
                font-size: 3rem;
                font-weight: 400;
                line-height: normal;
            }

            &::placeholder {
                color: #b9b9b9;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: normal;

                @media (max-width: 48em) {
                    font-size: 3rem;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            &.input-error {
                border-bottom-color: #ee3226;
            }

            &:focus {
                border-bottom-color: #6cc9f2;
            }

            &:focus + label {
                color: #6cc9f2;
            }
        }

        .error {
            color: #ee3226;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: absolute;
            bottom: -2rem;
        }

        .toggle-password {
            position: absolute;
            right: 0;
            bottom: 1.5rem;

            &.open {
                img:nth-child(1) {
                    display: none;
                }

                .hidden {
                    display: block;
                }
            }

            img {
                width: 1.8rem;
                height: 1.2rem;
                object-fit: cover;

                @media (max-width: 48em) {
                    width: 3.6rem;
                    height: 2.4rem;
                }
            }
        }

        &:focus {
            background: #000;
        }
    }

    &-form-btn {
        margin-top: 2.9rem;
        padding: 1.9rem 2.3rem;
    }

    &-form-image {
        max-width: 56.4rem;
        height: 40.9rem;
        width: 100%;

        @media (max-width: 48em) {
            max-width: 100%;
            max-height: 35rem;
        }
    }
}
