// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
}

.hidden__desctop {
    display: none !important;
}

.hidden {
    display: none;
}

@media (max-width: 48em) {
    .new-line-mob {
        display: block;
    }
    .hidden__desctop {
        display: block !important;
    }
    .hidden__mobile {
        display: none !important;
    }
}

.noscroll {
    overflow: hidden !important;
    height: 100% !important;
}
