.order-creation {
    &__info {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;

        @media (max-width: 48em) {
            gap: 6rem;
        }
    }

    &__order {
        .empty {
            color: #292d32;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.278rem;

            @media (max-width: 48em) {
                font-size: 3rem;
                line-height: normal;
            }
        }

        &-btn {
            padding: 1.9rem 2.3rem;
            background: #6cc9f2;
            border: 0;

            @media (max-width: 48em) {
                margin-right: auto;
                padding: 3.8rem 4.6rem;
            }

            span {
                color: #fff;
            }
        }

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            margin-bottom: 4.5rem;

            @media (max-width: 48em) {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 5.5rem;
            }

            &-title {
                color: #292d32;
                font-size: 4.4rem;
                font-weight: 500;
                line-height: 5rem;

                @media (max-width: 48em) {
                    font-size: 6rem;
                    line-height: 5.8rem;
                    margin-bottom: 4rem;
                }
            }

            &-link {
                padding: 1.55rem 2.3rem;

                @media (max-width: 48em) {
                    padding: 3rem 4.6rem;

                    span {
                        color: #292d32;
                        font-size: 3rem;
                        line-height: normal;
                    }
                }
            }
        }

        &-table {
            width: 100%;
            border: 0.1rem solid #e2e2e2;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.27rem;
            color: #292d32;
            border-collapse: collapse;

            thead {
                background: #fafafa;
                color: #444;

                @media (max-width: 48em) {
                    display: none;
                }

                td {
                    text-align: start;

                    &:nth-child(1) {
                        width: 16.8rem;
                    }

                    &:nth-child(2) {
                        width: 59.5rem;
                    }

                    &:nth-child(3) {
                        width: 17.4rem;
                        padding: 1.7rem 4rem;
                        text-align: center;
                    }

                    &:nth-child(4) {
                        width: 17.4rem;
                        padding: 1.7rem 4rem;
                        text-align: center;
                    }

                    &:nth-child(5) {
                        width: 15.4rem;
                        padding: 1.7rem 4rem;
                        text-align: center;
                    }

                    &:nth-child(6) {
                        width: 15.6rem;
                        padding: 1.7rem 3.4rem;
                        text-align: center;
                    }

                    &:nth-child(7) {
                        width: 8rem;
                    }
                }

                th {
                    &:nth-child(1) {
                        width: 8.4rem;
                    }

                    &:nth-child(2) {
                        width: 16.8rem;
                    }

                    &:nth-child(3) {
                        max-width: 50.7rem;
                        width: 100%;
                    }

                    &:nth-child(4) {
                        width: 16.5rem;
                        text-align: center;
                    }

                    &:nth-child(5) {
                        width: 19.4rem;
                        text-align: center;
                    }
                }
            }

            tfoot {
                width: 100%;
                background: rgba(108, 201, 242, 0.2);
                height: 8rem;

                @media (max-width: 48em) {
                    display: block;
                    padding: 3rem 2.2rem;
                    height: initial;
                }

                tr {
                    @media (max-width: 48em) {
                        &.mobile{
                            display: flex;
                        }

                        &:nth-child(3) {
                            margin-top: 2rem;
                        }
                    }

                    td {
                        @media (max-width: 48em) {
                            &:first-child{
                                font-size: 3.6rem;
                                width: 22rem;
                            }

                            &:nth-child(2){
                                width: 16rem;
                                text-align: start;
                            }

                            &:nth-child(3){
                                padding: 0;
                                text-align: start;
                                align-items: center;
                                margin-left: 6rem;
                            }
                        }
                    }
                }

                td {
                    border: 0;
                    background: inherit;
                    text-align: center;
                    order: initial !important;

                    &:nth-child(2n + 1) {
                        background: transparent;
                    }

                    &:first-child {
                        text-align: start;
                    }

                    &::before {
                        content: initial;
                    }
                }
            }

            tbody {
                td {
                    text-align: center;

                    &:nth-child(2) {
                        text-align: start;
                    }

                    @media (max-width: 48em) {
                        &:nth-child(3) {
                            align-items: center;
                            background: #fafafa;
                            width: 20rem;
                        }

                        &:not(:nth-child(2)) {
                            align-items: center;
                        }
                    }
                }
            }

            &-row {
                position: relative;

                &:nth-child(7n) {
                    @media (max-width: 48em) {
                        border-bottom: 0.1rem solid #e2e2e2;
                    }
                }

                @media (max-width: 48em) {
                    display: grid;
                    border-bottom: 1px solid #e2e2e2;
                }
            }

            &-cell {
                padding: 1.7rem 2rem;
                text-align: start;
                border-bottom: 0.1rem solid #e2e2e2;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.27rem;

                &:nth-child(4) {
                    @media (max-width: 48em) {
                        align-items: center;
                    }
                }

                &:nth-child(3) {
                    @media (max-width: 48em) {
                        padding-top: 2rem;
                    }
                }

                &:nth-child(2) {
                    @media (max-width: 48em) {
                        overflow-y: hidden;
                    }
                }

                &:nth-child(1) {
                    text-align: start;
                }

                &:last-child {
                    order: -1;

                    button {
                        margin-left: auto;
                        width: 100%;
                        max-width: 2.4rem;
                        height: 2.4rem;

                        @media (max-width: 48em) {
                            max-width: 4rem;
                            height: 4rem;
                            margin-top: 1rem;
                            margin-right: 1rem;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }

                &.remove {
                    text-align: end;
                }

                @media (max-width: 48em) {
                    border: 0;
                    text-align: start;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    gap: 4.2rem;
                    padding: 0;
                    max-width: 100%;

                    &::before {
                        content: attr(data-label);
                        max-width: 20rem;
                        width: 100%;
                        text-align: start;
                        background: #fafafa;
                        padding: 1rem 2.2rem;
                    }
                }

                &:not(:last-child) {
                    border-right: 0.1rem solid #e2e2e2;

                    @media (max-width: 48em) {
                        border: 0;
                    }
                }

                &.counter {
                    span {
                        margin: 0 1rem;
                        position: relative;
                        top: -0.5rem;
                    }

                    img {
                        width: 2.4rem;
                        height: 2.4rem;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
