.price {

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;

        &-title {
            color: #292d32;
            font-size: 4.4rem;
            font-weight: 500;
            line-height: 5rem;

            @media (max-width: 48em) {
                font-size: 6rem;
                line-height: 5.8rem;
                margin-bottom: 4rem;
            }
        }

        &-link {
            padding: 1.55rem 2rem;

            @media (max-width: 48em) {
                padding: 3rem 4.6rem;

                span {
                    color: var(--black, #292d32);
                    font-size: 3rem;
                    line-height: normal;
                }
            }

            &-image {
                max-width: 1.4rem;
                width: 100%;
                height: 1.7rem;

                @media (max-width: 48em) {
                    width: 2.8rem;
                    height: 3.4rem;

                    img {
                        width: auto;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 6.2rem;

        @media (max-width: 48em) {
            flex-direction: column;
            gap: 6rem;
        }

        &-articles {
            max-width: 32rem;
            width: 100%;

            @media (max-width: 48em) {
                max-width: 100%;
            }

            &-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2.2rem 3.9rem;

                @media (max-width: 48em) {
                    gap: 3rem 7rem;
                }
            }

            &-item {
                color: #292d32;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.2rem;
                width: 3.4rem;

                @media (max-width: 48em) {
                    font-size: 3.2rem;
                    line-height: 4.4rem;
                    width: 6.2rem;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            width: 100%;

            &-table {
                @extend .order-creation__order-table !optional;
                display: block;
                border-bottom: 0;

                tbody {
                    @media (max-width: 48em) {
                        display: block;
                    }

                    td {
                        &:first-child {
                            &::before {
                                height: 6rem;
                            }
                        }

                        &:nth-child(3) {
                            width: 100% !important;
                            background: transparent !important;
                            align-items: initial !important;
                            padding-top: 0;
                            overflow-y: hidden;
                            text-align: start;
                        }
                    }
                }

                thead {
                    background: #fafafa;
                    color: #444;

                    @media (max-width: 48em) {
                        display: none;
                    }

                    td {
                        text-align: center;

                        &:nth-child(5n + 3) {
                            text-align: start;

                            @media (max-width: 48em) {
                                text-align: initial;
                            }
                        }
                    }
                }

                &-row {
                    @media (max-width: 48em) {
                        display: block;
                        width: 100%;
                        border-bottom: 0.1rem solid #e2e2e2;
                        background: #fafafa;
                    }
                }

                &-cell {
                    @extend .order-creation__order-table-cell !optional;

                    text-align: start;
                    position: relative;

                    @media (max-width: 48em) {
                        display: flex;
                        gap: 2.2rem;
                        padding: 0;
                        max-width: 100%;
                        min-height: 8rem;

                        &::before {
                            content: attr(data-label);
                            max-width: 20rem;
                            width: 100%;
                            text-align: start;
                            background: #fafafa;
                            padding: 0 2rem 2.2rem;
                        }
                    }

                    &:nth-child(5n + 1) {
                        text-align: center;
                    }

                    &:nth-child(5n + 5) {
                        text-align: center;
                    }

                    &:nth-child(5n + 4) {
                        text-align: center;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (max-width: 48em) {
                            position: absolute;
                            left: 2.4rem;
                            top: 1.5rem;
                        }
                    }

                    input {
                        appearance: none;
                        position: relative;

                        &:checked + .price__content-info-checkbox {
                            background: url('../img/price/checked-icon.svg') no-repeat center;
                            background-size: 65%;
                        }
                    }

                    .price__content-info-checkbox {
                        display: block;
                        border: 1px solid #b9b9b9;
                        height: 2.4rem;
                        width: 2.4rem;
                        cursor: pointer;

                        @media (max-width: 48em) {
                            width: 4rem;
                            height: 4rem;
                        }
                    }
                }
            }
        }
    }
}
